---
layout: default
title: Gabriele Lanaro
stylesheet: /public/css/index.css
published: true
---

<script type="text/javascript" src="public/js/skrollr.min.js.txt"></script>
<script>
    $( function () {
        if (window.innerWidth > 960) {
            skrollr.init();
        };
    });
</script>

<div id="page1"
     class="presentation"
     data-0="opacity:1;top:3%;transform:rotate(0deg);transform-origin:0 0;" 
     data-500="opacity:0;top:-10%;transform:rotate(-90deg);">
    <h1>Hi, I'm a machine learning enginner, data scientist and book author.</h1>

</div>

<div id="page2"
     data-0="opacity: 0; top:0px;"
     data-200="opacity:1; top: -200px;"
     class="presentation"> 
    <h2>I make state-of-the-art machine learning systems and tools and I'm the author of the two editions of <b>Python High Performance Programming</b>. I love clever algorithms and good software engineering..</h2>
    <img src="public/computational-chemistry.svg"/>
</div>

<div class="projects" data-anchor="projects">
  <h1>Personal Projects</h1>
    <div class="project-list">
          {% for post in site.posts %}
            {% if post.categories contains 'work' %}
            <div class="project">
                <a href={{ post.github }} 
                   title="Go to project page">
                    <img 
                         src="{{post.image}}"/></a>
                <p>{{post.content}}</p>

                <div class="project-links">
                      {% if post.github %}
                        <a href={{ post.github }} 
                           title="Github" style="color: #7688c4;" 
                           target="_blank"
                           class="project-link"><i class="fa fa-3x fa-github"></i></a>
                      {% endif %}
                      {% if post.android %}
                        <a href="{{post.android}}"
                           title="Play Store"
                           target="_blank"
                           style="color: #A4C639;"
                           class="project-link" css><i class="fa fa-3x fa-android"></i></a>
                      {% endif %}
                      {% if post.website %}
                        <a href="{{post.website}}"
                           title="Website"
                           target="_blank"
                           style="color: #31c3e7;" 
                           class="project-link"><i class="fa fa-3x fa-globe"></i></a>
                      {% endif %}
                    
                </div>
                <div style="clear:both;"></div>
            </div>
            {% endif %}
          {% endfor %}
    </div>
</div>

<div id="contact-info" class="presentation">
    <h1>Contact me</h1>
    <p>I'm interested in anything related to machine learning.</p>
    <p><a href="mailto:gabriele.lanaro@gmail.com"><i class="clickme fa fa-envelope fa-6"></i></a>
    </p>
</div>

<!--

<div class="presentation">
  <h1>Where I'm at</h1>
  <p>I'm currently a Machine Learning Engineer at New360 in Vancouver. I'm responsible for the development and maintainance of machine learning application with a strong focus on natural language processing. I am passionate about technology and programming, every excuse is good to do some coding. I've worked with Python for many years and I've authored a book for Packt, Python High Performance Programming. But by journey doesn't stop here, I'm constantly trying new things to gain perspective on the problems I face (and also to keep things interesting). </p>
</div>
-->
