---
layout: default
---

<script type="text/javascript" src="public/js/skrollr.min.js.txt"></script>
<script>
    $( function () {
        if (window.innerWidth > 960) {
            skrollr.init();
        };
    });
</script>

<div id="page1"
     class="presentation"
     data-0="opacity:1;top:3%;transform:rotate(0deg);transform-origin:0 0;" 
     data-500="opacity:0;top:-10%;transform:rotate(-90deg);">
    <h1>Hi, I'm a Python Developer, Scientist and Author.</h1>

</div>

<div id="page2"
     data-0="opacity: 0; top:0px;"
     data-200="opacity:1; top: -200px;"
     class="presentation"> 
    <h2>I make performant <b>scientific applications</b>. I wrote the book <b>Python High Performance Programming</b>, and I'm passionate about mobile and web technologies.</h2>
    <img src="public/computational-chemistry.svg"/>
</div>

<div class="projects" data-anchor="projects">
  <h1>Personal Projects</h1>
    <div class="project-list">
          {% for post in site.posts %}
            {% if post.categories contains 'work' %}
            <div class="project">
                <a href={{ post.github }} 
                   title="Go to project page">
                    <img 
                         src="{{post.image}}"/></a>
                <p>{{post.content}}</p>

                <div class="project-links">
                      {% if post.github %}
                        <a href={{ post.github }} 
                           title="Github" class="project-link"><i class="fa fa-3x fa-github"></i></a>
                      {% endif %}
                      {% if post.docs %}
                        <a href="#" class="project-link"><i calss="fa fa-3x fa-book"></i></a>
                      {% endif %}
                </div>
                <div style="clear:both;"></div>
            </div>
            {% endif %}
          {% endfor %}
    </div>
</div>

<div class="presentation">
    <h1>Contact me <br/> </h1>
    <p>I'm interested in web design/development projects, Android or Python Application development.</p>
    <p><a href="mailto:gabriele.lanaro@gmail.com"><i class="clickme fa fa-envelope fa-6"></i></a>
    </p>
</div>

<!--

<div class="presentation">
  <h1>Where I'm at</h1>
  <p>I'm currently a PhD candidate in Computational Chemistry at the University of British Columbia. I do molecular simulations, to discover how crystals forms and dissolve. I am passionate about technology and programming, every excuse is good to do some coding. I've worked with Python for many years and I've authored a book for Packt, Python High Performance Programming. But by journey doesn't stop here, I'm constantly trying new things to gain perspective on the problems I face (and also to keep things interesting). </p>
</div>
-->

